/* reglas
selectores
declaraciones
propiedades
valores */
body 
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 0;
}
.logo
{
    margin: 0;
}
.move-letter
{
    display: flex;
    margin-left: 300;
    align-items: left;
    background-position-x: left;
}

h1
{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
}
h1 strong
{
    color: #026fff;
}
h2
{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.project-second, .project-date, .project-url
{
    margin: 10px 0;
}
.project-text
{
    font-size: 20px;
}
.project strong 
{
    font-family: 'Fjalla One', sans-serif;
}
/*.project-date
{
    margin: 10px 0;
}*/
.project-title
{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-details
{
    width: 500px;
}
.project-imageContainer
{
    width: 500px;
}
.hero
{
    height: 300px;
    background-color: #1b2127;
    /*background-size: 500px 300px;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image
{
    object-fit: cover;
}
.portfolio
{
    background: #fafafa;
    padding: 20px;
}
.project
{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    /*margin-bottom: 15px;*/
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,h3,h4,h5,h6
{
    font-family: 'Fjalla One', sans-serif;
}

.header
{
    background-color: #1b2127;
    color: white;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.menu
{
    height: inherit;
}
.header ol
{
    display: flex;
    height: inherit;
}
.header ol li
{
    height: inherit;
}
.logo-image
{
    width: 100px;
    height: 100px;
    margin-left: 80px;
}
.header a
{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ol, ul
{
    margin: 0px;
    padding: 0;
    list-style: none;
}
.footer
{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.footer img
{
    vertical-align: middle;
}
.footer a
{
    color: white
    ;
}

.event-list
{
    display: flex;
    flex-wrap: wrap;
}
.event-list-title
{
    margin-left: 20px;
}
.event-imageContainer
{
    display: flex;
    margin: 0px;
}
.event
{
    
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img
{
   width: 480px;
   height: 200px;
   object-fit: cover;
   vertical-align: middle;
}

.event-detail
{
    margin: 20px 40px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-text
{
    text-align: left;
}

.event-url
{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}
.contact
{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

/*.social
{
   
}*/

.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px;
}

.social-link.twitter
{
    background-image: url(../images/media1.png);
    
}
.social-link.facebook
{
    background-image: url(../images/media3.png);
}
.social-link.github
{
    background-image: url(../images/media2.png);
}
.social-link.instagram
{
    background-image: url(../images/media4.png);
}

.form-email input
{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/correo.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button
{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    border-color: #fafafa;    
}
 .form-email h3
 {
    font-family: 'Source Sans Pro', sans-serif;
 }

 .container
 {
    /*border: 1px solid red;*/
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
 }
